$table-border: 1px solid #EAEDF3;

table {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;

  tr {
    td, th {
      box-sizing: border-box;
      border-top: $table-border;
      padding: 20px;
      color: #3E3F42;
      text-align: left;
      font-family: museo-sans, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;

      &:first-child {
        border-left: $table-border;
      }

      &:last-child {
        border-right: $table-border;
      }
    }

    th {
      color: #8A9AA7;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 14.4px;
    }

    &:first-child {
      th {
        &:first-child {
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
        }
      }
    }

    &:last-child {
      td {
        border-bottom: $table-border;

        &:first-child {
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #1967D80D;
      }
    }
  }
}

.pagination {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 281px;
  height: 41px;
  border: $table-border;
  border-radius: 4px;
  padding: 4px;
  margin: auto;
  margin-top: 32px;

  .pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: #3E3F42;
    font-family: museo-sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;

    &:hover {
      background-color: #EAEDF3;
      cursor: pointer;
    }
  }

  .divider {
    border-right: $table-border;
  }
}
