$table-border: 1px solid #eaedf3;

table {
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;

  tr {
    td,
    th {
      box-sizing: border-box;
      border-top: $table-border;
      padding: 20px 30px;
      color: #3e3f42;
      text-align: left;
      font-family: museo-sans, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;

      &:first-child {
        border-left: $table-border;
      }

      &:last-child {
        border-right: $table-border;
      }

      .checkbox {
        display: block;
        position: relative;
        width: 14px;
        height: 14px;

        input[type="checkbox"] {
          position: absolute;
          cursor: pointer;
          width: 0px;
          height: 0px;

          &::before {
            content: "";
            box-sizing: border-box;
            display: block;
            position: absolute;
            top: -3px;
            left: -4px;
            width: 14px;
            height: 14px;
            border: 2px solid #8A9AA7;
            border-radius: 3px;
          }

          &:checked::before, &:indeterminate::before {
            border: none;
            background-color: #1967D8;
          }

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0.8px;
            left: -0.8px;
            width: 8px;
            height: 7px;
            background: none;
          }

          &:checked::after {
            background: url(../../assets/images/checked.svg);
            background-repeat: no-repeat;
          }

          &:indeterminate::after {
            top: 2.8px;
            height: 2px;
            background: url(../../assets/images/indeterminate.svg);
            background-repeat: no-repeat;
          }
        }
      }
    }

    th {
      color: #8a9aa7;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 14.4px;

      div {
        display: flex;

        img {
          margin-left: 8px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &:first-child {
      th {
        &:first-child {
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
        }
      }
    }

    &:last-child {
      td {
        border-bottom: $table-border;

        &:first-child {
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: #1967d80d;
      }
    }
  }
}

.pagination {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 281px;
  height: 41px;
  border: $table-border;
  border-radius: 4px;
  padding: 4px;
  margin: auto;
  margin-top: 32px;

  .pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    color: #3e3f42;
    font-family: museo-sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;

    &:hover {
      background-color: #eaedf3;
      cursor: pointer;
    }
  }

  .divider {
    border-right: $table-border;
  }
}
