
@import url("../../../node_modules/smart-webcomponents/source/styles/smart.default.css");

@font-face {
  font-family: smart-icons;
  src: 
  url(assets/font/smart-icons.woff2) format('woff2'), 
  url(assets/font/smart-icons.woff) format('woff'), 
  url(assets/font/smart-icons.ttf) format('truetype'), 
  url(assets/font/smart-icons.eot) format('embedded-opentype');
  font-weight: 400;
  font-style: normal
}