
@import url("../../../node_modules/smart-webcomponents/source/styles/smart.default.css");

@font-face {
  font-family: smart-icons;
  src: 
  url(assets/font/smart-icons.woff2) format('woff2'), 
  url(assets/font/smart-icons.woff) format('woff'), 
  url(assets/font/smart-icons.ttf) format('truetype'), 
  url(assets/font/smart-icons.eot) format('embedded-opentype');
  font-weight: 400;
  font-style: normal
}

smart-ui-grid {
  // --smart-border: transparent;
  // --smart-outline: transparent;
  // --smart-primary: rgba(25, 103, 216, 0.05);
  // --smart-ui-state-hover: rgba(25, 103, 216, 0.05);
  // --smart-ui-state-active: #1967D8;
  // --smart-ui-state-color-active: #fff;
  // --smart-primary-color: #3E3F42;
  // --smart-ui-state-color-selected: #3E3F42;
  // --smart-background-color: #3E3F42;
  // --smart-alternation-index0-background: #fff;
  --smart-grid-freeze-splitter-size: 0;
  --smart-scroll-bar-size: 0;
  --smart-surface: #fff;
  --smart-grid-default-width: 100%;
  --smart-grid-row-height: 50px;
}